{% extends 'base.html' %}

{% block title %}
  {% if form.instance.pk %}
    {{ form.instance.title }}の編集
  {% else %}
    新規トラック追加
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      {{ form.instance.title }}の編集
    {% else %}
      新規トラック追加
    {% endif %}
  </h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">保存</button>
    <a href="{% url 'track_list' %}" class="btn btn-secondary">キャンセル</a>
  </form>
{% endblock %}